## Introduction to Pandas ##
We will learn:

a) What is Pandas?

b) What is a Series ?

c) What is a DataFrame?

d) How to read data from a file to DataFrame ?

e) Exploring the Dataframe.

In [ ]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [ ]:
# Series
# A Series is a labelled collection of values similar to the NumPy vector. 

series = Series([3,6,9,12])

In [ ]:
# Lets print values


# Lets print index

In [ ]:
# The main advantage of Series objects is the ability to utilize non-integer labels/index.

ww2_casuality = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

print ww2_casuality

In [ ]:
# Now we can use index values to select values in Series
# Check the value of index 'USA'

In [ ]:
# Check if USSR is in Series index

In [ ]:
# Check who had casualties greater than 4 million (4000000)

In [ ]:
# Naming the series and index
ww2_casuality.name = "Casualities in World War 2"
ww2_casuality.index.name = "Countries"
ww2_casuality

### Now we'll learn DataFrame ###

A dataframe is a highly efficient, 2-dimensional data structure that provides a suite of methods and attributes to quickly explore, analyze, and visualize data.

In [ ]:
# Read data from csv file
df = pd.read_csv("ship_data.csv")

In [ ]:
# Now that we've read the dataset into a dataframe, we can start using the dataframe methods to explore the data
# a) Print the first 10 values in the df

In [ ]:
# b) Try printing out the last 15 values in the df.

In [ ]:
# Lenght of dataframe

In [ ]:
# To access the full list of column names, use the columns attribute
#column_names = ??

#print column_names

In [ ]:
# Selecting Individual Columns
series = df["Passenger ID"] 
print series.head(10)

In [ ]:
# Selecting Multiple Columns - say 'Passenger ID' and 'Name'

In [ ]:
#Selecting Rows from 3 to 6
df.loc[3:6]

In [ ]:
#Selecting Rows with index 1, 5, 10

In [ ]:
# Try adding a column say Alive/Dead to the DataFrame with a default value 'Dead'
df["Alive/Dead"] = 'Dead'
df.head()

In [ ]:
# assign value 'Alive' to rows with index 0 and 4
alive_or_dead = Series(["Alive","Alive"],index=[4,0])

print alive_or_dead
df["Alive/Dead"] = alive_or_dead
df.head()

In [ ]:
# Check what these return:
#     1)type(df) - Check the datatype
#     2)df.info  - Check the starting index

In [ ]:
# Try out:
#         1) matrix = df.as_matrix()
#         2) Check the datatype of matrix
#         3) Print df[0,0] and df[0]
#         4) Check the datatype of df[0]
# Try out:
#         1) Print df.iloc[0] 
#         2) Print df.ix[0]
#         3) Check the datatype of df.ix[0]

In [ ]:
matrix = df.as_matrix()
type(matrix)

In [ ]:
# Print the 'Passenger ID' column where the Passenger ID is less than 10
# Hint: DataFrame can accept conditions such as: Passenger ID < 10.
pessenger_id_less_than_10 = (df["Passenger ID"] < 10)

print pessenger_id_less_than_10.head()

df[pessenger_id_less_than_10]

In [ ]:
# Print the passengers in first Class (Class=1)

In [ ]:
# you can also add multiple conditions using logical operators (& and |)
pessengers_in_first_class_with_id_less_than_10 = (df["Class"] == 1) & (df["Passenger ID"] < 10)
df[pessengers_in_first_class_with_id_less_than_10]

In [ ]:
# Print passengers with age > 50 and Class = 1

## Check point ##

Pandas is used to load the data from file.

In Pandas, Series can be thought of as column/row (1D), DataFrame as a table (2D).

Pandas series/dataframe can be easily converted to numpy arrays.

REMEMBER: DataFrame[0] - returns all values of  column '0'
NumpyArray[0] - returns all values in the row '0'